
body {
    display: flex;
    background-color: rgb(183, 179, 241);
    font-family:'Courier New', Courier, monospace;
    border: 2px solid black;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(6, 3, 53);
    position: fixed;
    padding: 10px 30px;
    width: 100%;
}

.title {
    margin-right: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-sizing: border-box;
}

a:hover{
    color: rgb(161, 153, 153);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
#date {
    align-content: center;
}
#day, #year{
    background-color: #faf5f5;
    border-color: rgb(215, 201, 241);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

select{
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    background-color: #faf5f5;
    margin: 30px;
    border: none;
}

select:hover{
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

h3{
    color: rgb(6, 3, 53);
    font-weight: bold;
}

li{
    margin-bottom: 10px;
    color: white;
    list-style-type: none;
}

.todo-container{
    background-color: #faf5f5;
    box-shadow: 0 0 6px #faf5f5;
    text-align: center;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

#input-container {
    width: 100%;
    display: flex;
}

input.description {
    background-color: rgb(215, 201, 241);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 450px;
}

#buttonAddTask {
    color: white;
    background-color: rgb(6, 3, 53);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

#buttonAddTask:hover {
    text-shadow: 0 0 10px white;
    background-color: #0f334b; 
    transform: scale(1.1); 
}

#buttonRemoveTask{
    font-weight: bold;
    background-color: #03263d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 40px;
}

#buttonRemoveTask:hover{
    background-color: #0f334b; 
    text-shadow: 0 0 10px white;
    transform: scale(1.1); 
}

#buttonMarkCompleted{
    font-weight: bold;
    background-color: #1c567c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 40px;
}

#buttonMarkCompleted:hover{
    background-color: #3f7394; 
    transform: scale(1.1); 
    text-shadow: 0 0 10px white;
}

input[type="checkbox"] {
    margin-right: 10px;
    color: red;
    border-radius: 10px;
}


/* Style todolist.html */

.register-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: #faf5f5;
    box-shadow: 0 0 6px #faf5f5;
    width: 600px;
}

#form-container {
    display: flex;
    margin: auto;
}

#descFilter{
    display: flex;
    box-sizing: border-box;
    width: 350px;
}

#search{
    color: white;
    text-shadow: none;
    background-color: rgb(6, 3, 53);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

#search:hover{
    text-shadow: 0 0 10px white;
    background-color: #0f334b; 
    transform: scale(1.1); 
}

#filter{
    display: flex;
    width: 100%;
}

#descFilter{
    width: 100%;
    background-color: rgb(215, 201, 241);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 450px;
}